In [3]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-2.4.5.tar.gz (217.8 MB)
     |████████████████████████████████| 217.8 MB 1.6 kB/s eta 0:00:01   |                                | 389 kB 235 kB/s eta 0:15:24     |▋                               | 4.1 MB 223 kB/s eta 0:15:58     |█                               | 6.7 MB 786 kB/s eta 0:04:29     |█▍                              | 9.2 MB 1.4 MB/s eta 0:02:25     |██                              | 13.6 MB 6.4 MB/s eta 0:00:32     |██▍                             | 16.1 MB 1.4 MB/s eta 0:02:23     |██▉                             | 19.5 MB 793 kB/s eta 0:04:10     |███                             | 21.1 MB 750 kB/s eta 0:04:23     |███▎                            | 22.4 MB 691 kB/s eta 0:04:43     |████▊                           | 31.9 MB 863 kB/s eta 0:03:36     |█████▉                          | 39.9 MB 1.5 MB/s eta 0:02:00     |██████                          | 40.6 MB 1.4 MB/s eta 0:02:05     |██████                          | 41.6 MB 1.4 MB/s eta 0:02:04     |██████▌                         | 44.5 MB 472 kB/s eta 0:06:07     |███████▌                        | 50.9 MB 202 kB/s eta 0:13:43     |████████▉                       | 59.9 MB 1.3 MB/s eta 0:02:00     |████████▉                       | 60.1 MB 4.7 MB/s eta 0:00:34     |██████████▋                     | 72.6 MB 4.3 MB/s eta 0:00:34     |███████████▏                    | 75.8 MB 1.2 MB/s eta 0:01:58     |███████████▏                    | 76.0 MB 1.2 MB/s eta 0:01:58     |███████████▎                    | 77.0 MB 1.5 MB/s eta 0:01:31     |███████████▍                    | 77.2 MB 1.5 MB/s eta 0:01:31     |███████████▊                    | 80.1 MB 1.2 MB/s eta 0:02:00     |████████████                    | 81.1 MB 1.1 MB/s eta 0:02:03     |████████████▏                   | 82.5 MB 684 kB/s eta 0:03:18     |████████████▏                   | 82.7 MB 684 kB/s eta 0:03:18     |████████████▍                   | 84.2 MB 683 kB/s eta 0:03:16     |█████████████▏                  | 89.8 MB 645 kB/s eta 0:03:19     |█████████████▌                  | 92.2 MB 109 kB/s eta 0:19:13     |█████████████▊                  | 93.6 MB 681 kB/s eta 0:03:03     |██████████████▍                 | 97.9 MB 1.0 MB/s eta 0:01:58     |███████████████▏                | 103.4 MB 723 kB/s eta 0:02:39     |████████████████                | 109.4 MB 1.6 MB/s eta 0:01:08     |█████████████████▌              | 119.3 MB 119 kB/s eta 0:13:43     |███████████████████▍            | 131.9 MB 1.0 MB/s eta 0:01:26     |████████████████████            | 135.5 MB 1.1 MB/s eta 0:01:17     |████████████████████            | 135.7 MB 1.1 MB/s eta 0:01:17     |████████████████████            | 136.0 MB 1.0 MB/s eta 0:01:21     |████████████████████▎           | 138.0 MB 1.3 MB/s eta 0:01:03     |██████████████████████▉         | 155.7 MB 1.2 MB/s eta 0:00:52     |███████████████████████         | 156.0 MB 90 kB/s eta 0:11:21     |█████████████████████████       | 170.2 MB 1.3 MB/s eta 0:00:37     |█████████████████████████       | 170.8 MB 1.3 MB/s eta 0:00:36     |█████████████████████████▍      | 172.7 MB 762 kB/s eta 0:01:00     |█████████████████████████▊      | 175.0 MB 1.1 MB/s eta 0:00:41     |██████████████████████████      | 177.1 MB 4.7 MB/s eta 0:00:09     |██████████████████████████▏     | 178.1 MB 8.3 MB/s eta 0:00:05     |███████████████████████████▍    | 186.3 MB 927 kB/s eta 0:00:34     |████████████████████████████▋   | 194.7 MB 3.4 MB/s eta 0:00:07     |████████████████████████████▋   | 194.8 MB 3.4 MB/s eta 0:00:07     |████████████████████████████▉   | 195.9 MB 1.7 MB/s eta 0:00:14     |█████████████████████████████▌  | 201.1 MB 1.2 MB/s eta 0:00:15     |█████████████████████████████▉  | 203.0 MB 1.0 MB/s eta 0:00:15     |██████████████████████████████▎ | 206.0 MB 654 kB/s eta 0:00:18
Collecting py4j==0.10.7
  Downloading py4j-0.10.7-py2.py3-none-any.whl (197 kB)
     |████████████████████████████████| 197 kB 403 kB/s eta 0:00:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-2.4.5-py2.py3-none-any.whl size=218257927 sha256=84bc4de43eda1aa0b51fbd7bd397d01ee55944a0d7b0ab76b6477fbdd4e584f4
  Stored in directory: /home/dmitry/.cache/pip/wheels/01/c0/03/1c241c9c482b647d4d99412a98a5c7f87472728ad41ae55e1e
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.5
Note: you may need to restart the kernel to use updated packages.

Привет, в этой практике мы с вами применим наши знания по PySpark и постараемся изучить что-то новое в процессе выполнения.
<br>В занятии используется датасет собранный на основе данных <a href="https://www.kaggle.com/chicago/chicago-taxi-rides-2016">Chicago Taxi Rides 2016</a>
<br>Полная <a href="https://spark.apache.org/docs/latest/api/python/index.html">документация PySpark</a>.
<br>Схема данны:
<br>|-- taxi_id = идентификатор таксиста
<br>|-- trip_start_timestamp = время начала поездки
<br>|-- trip_end_timestamp = время окончания поездки
<br>|-- trip_seconds = время длительности поездки в секундах
<br>|-- trip_miles = мили проиденные во время поездки
<br>|-- fare = транспортные расходы
<br>|-- tips = назначенные чаевые
<br>|-- trip_total = общая стоимость поездки
<br>|-- payment_type = тип оплаты

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [3]:
spark = SparkSession.builder.appName('PySparkTasks').getOrCreate()

In [4]:
spark.conf.set("spark.sql.session.timeZone", "GMT+3")

In [5]:
spark.stop()

Скачайте <a href="https://github.com/AlexKbit/stepik-ds-course/raw/master/Week3/spark-tasks/taxi_data.parquet">taxi_data.parquet</a> и загрузите используя <a href="https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame">SparkAPI</a>

In [6]:
df = spark.read.parquet('taxi_data.parquet')

Py4JJavaError: An error occurred while calling o28.parquet.
: java.lang.IllegalStateException: Cannot call methods on a stopped SparkContext.
This stopped SparkContext was created at:

org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
java.lang.reflect.Constructor.newInstance(Constructor.java:423)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
py4j.Gateway.invoke(Gateway.java:238)
py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
py4j.GatewayConnection.run(GatewayConnection.java:238)
java.lang.Thread.run(Thread.java:748)

The currently active SparkContext was created at:

(No active SparkContext.)

	at org.apache.spark.SparkContext.assertNotStopped(SparkContext.scala:100)
	at org.apache.spark.SparkContext.defaultParallelism(SparkContext.scala:2359)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$.mergeSchemasInParallel(ParquetFileFormat.scala:594)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat.inferSchema(ParquetFileFormat.scala:241)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$6.apply(DataSource.scala:180)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$6.apply(DataSource.scala:180)
	at scala.Option.orElse(Option.scala:289)
	at org.apache.spark.sql.execution.datasources.DataSource.getOrInferFileFormatSchema(DataSource.scala:179)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:373)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:223)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:211)
	at org.apache.spark.sql.DataFrameReader.parquet(DataFrameReader.scala:645)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)

№1 Посчитайте количество загруженных строк.

In [6]:
# Число строк

In [8]:
df.count()

2540712

Посмотрим схему данных:

In [9]:
df.printSchema()

root
 |-- taxi_id: integer (nullable = true)
 |-- trip_start_timestamp: timestamp (nullable = true)
 |-- trip_end_timestamp: timestamp (nullable = true)
 |-- trip_seconds: integer (nullable = true)
 |-- trip_miles: double (nullable = true)
 |-- fare: double (nullable = true)
 |-- tips: double (nullable = true)
 |-- trip_total: double (nullable = true)
 |-- payment_type: string (nullable = true)

№2 Чему равна корреляция и ковариация между длиной маршрута и ценой за поездку? Ответ округлите до 5 знаков после запятой.
<br>Подробнее <a href="https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.corr">corr</a> & <a href="https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.cov">cov</a>

In [12]:
round(df.corr('trip_miles', 'trip_total'), 5)

0.44816

In [13]:
round(df.cov('trip_miles', 'trip_total'), 5)

71.96914

№3 Найдите количество, среднее, cреднеквадратическое отклонение, минимум и максимум для длины маршрута и цены за поездку? Ответ округлите до 1 знака после запятой. Подробнее <a href="https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.describe">describe</a>

In [21]:
df.describe(['trip_miles']).show()

+-------+------------------+
|summary|        trip_miles|
+-------+------------------+
|  count|           2540677|
|   mean|3.0005873828090266|
| stddev|  5.25716922943536|
|    min|               0.0|
|    max|             900.0|
+-------+------------------+

In [18]:
df.describe(['trip_total']).show()

+-------+------------------+
|summary|        trip_total|
+-------+------------------+
|  count|           2540672|
|   mean|15.913560215564042|
| stddev|30.546699217618237|
|    min|               0.0|
|    max|           9276.69|
+-------+------------------+

№4 Найдите самый НЕ популярный вид оплаты.
<br>Подробнее <a href="https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.groupBy">groupBy</a> <a href="https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.orderBy">orderBy</a>

In [32]:
import pyspark.sql.functions as sf
df.groupBy('payment_type').agg(sf.count('*').alias('my_count')).orderBy('my_count').show()

+------------+--------+
|payment_type|my_count|
+------------+--------+
|    Way2ride|       3|
|       Pcard|     878|
|      Prcard|     968|
|     Dispute|    1842|
|     Unknown|    5180|
|   No Charge|   12843|
| Credit Card| 1108843|
|        Cash| 1410155|
+------------+--------+

№5 Найдите идентификатор таксиста выполнившего наибольшее число заказов.

In [36]:
from pyspark.sql.functions import *
df.groupBy('taxi_id').count().orderBy(desc('count')).show()

+-------+-----+
|taxi_id|count|
+-------+-----+
|    316| 2225|
|   6591| 2083|
|   5071| 2080|
|   8740| 2067|
|   6008| 2033|
|   8629| 2024|
|   1462| 2007|
|    375| 1986|
|   8751| 1938|
|   5357| 1930|
|   8264| 1909|
|   1168| 1809|
|   1946| 1803|
|    336| 1799|
|   1521| 1799|
|   3253| 1764|
|   8561| 1760|
|   8344| 1743|
|   8496| 1742|
|   6482| 1740|
+-------+-----+
only showing top 20 rows

№6 Чему равна средняя цена среди поездок, оплаченных наличными? Ответ округлите до 5 знака.
<br> Подробней <a href="https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.where">where</a>

In [53]:
#df.select('payment_type').distinct().show()
df.where(df['payment_type'] == 'Cash').groupBy().avg('trip_total').select(sf.round('avg(trip_total)', 5)).show()

+-------------------------+
|round(avg(trip_total), 5)|
+-------------------------+
|                 12.03526|
+-------------------------+

№7 Сколько таксистов проехало больше 1000 миль за все время выполнения заказов?

In [58]:
df.groupBy('taxi_id').agg(sf.sum('trip_miles').alias('miles_sum')).where(col('miles_sum') > 1000.0).orderBy(desc('miles_sum')).groupBy().count().show()

+-----+
|count|
+-----+
| 2860|
+-----+

№8 Сколько миль проехал пассажир в самой долгой поездке? (Ответ округлите до целого)

In [60]:
df.orderBy(desc('trip_seconds')).limit(1).show()

+-------+--------------------+-------------------+------------+----------+----+----+----------+------------+
|taxi_id|trip_start_timestamp| trip_end_timestamp|trip_seconds|trip_miles|fare|tips|trip_total|payment_type|
+-------+--------------------+-------------------+------------+----------+----+----+----------+------------+
|   4161| 2016-11-14 16:00:00|2016-11-15 16:00:00|       86399|       0.0|3.25| 0.0|      3.25|        Cash|
+-------+--------------------+-------------------+------------+----------+----+----+----------+------------+

№9 Каков средний заработок всех таксистов? Ответ округлите до 5-ого знака.

In [65]:
df.where(col("taxi_id").isNotNull()).groupBy('taxi_id').agg(sf.sum('trip_total')).groupBy().avg('sum(trip_total)').select(sf.round('avg(sum(trip_total))', 5)).show()

+------------------------------+
|round(avg(sum(trip_total)), 5)|
+------------------------------+
|                    8218.85627|
+------------------------------+

№10 Сколько поездок начиналось в самый загруженный час?
<br>Используйте функцию <a href="https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.functions.hour">hour</a>

In [19]:
from pyspark.sql.functions import hour

+---------------------------------------------+------+
|CAST((hour(trip_start_timestamp) / 6) AS INT)| count|
+---------------------------------------------+------+
|                                            2|889631|
|                                            3|843054|
|                                            1|538737|
|                                            0|269290|
+---------------------------------------------+------+

In [ ]:
df.groupBy(hour('trip_start_timestamp')).count().withColumn('divided',(col('hour(trip_start_timestamp)')/6).cast('integer')).orderBy(desc('hour(trip_start_timestamp)')).show()

№11 Сколько поездок началось во второй четверти дня?

In [86]:
df.groupBy((hour('trip_start_timestamp')/6).cast('integer')).count().orderBy(desc('count')).show()

+---------------------------------------------+------+
|CAST((hour(trip_start_timestamp) / 6) AS INT)| count|
+---------------------------------------------+------+
|                                            2|889631|
|                                            3|843054|
|                                            1|538737|
|                                            0|269290|
+---------------------------------------------+------+

№12 Найдите топ три даты, в которые было суммарно больше всего чаевых? (Чаевые выдаются после совершения поездки)
<br> Ожидаемый формат дат YYYY-MM-DD
<br>Вам может понадобится конвертация типов <a href="https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column.cast">cast</a>

In [90]:
from pyspark.sql.types import DateType

In [92]:
df.groupBy(col('trip_end_timestamp').cast(DateType())).sum('tips').orderBy(desc('sum(tips)')).show()

+--------------------------------+------------------+
|CAST(trip_end_timestamp AS DATE)|         sum(tips)|
+--------------------------------+------------------+
|                      2016-11-03|110102.37000000013|
|                      2016-11-09|106187.87999999986|
|                      2016-11-16| 99993.77000000038|
|                      2016-12-01| 97954.88000000014|
|                      2016-11-10| 97263.90000000063|
|                      2016-11-04| 96244.83000000005|
|                      2016-11-17| 95188.28000000052|
|                      2016-12-08| 94128.17000000039|
|                      2016-11-08| 90394.94000000024|
|                      2016-12-15| 89820.06000000052|
|                      2016-11-18|  89685.4800000007|
|                      2016-11-02| 89175.40000000023|
|                      2016-11-30| 88441.87000000021|
|                      2016-11-07| 87743.85000000036|
|                      2016-11-15| 85591.05999999978|
|                      2016-12-14| 85584.15000000011|
|                      2016-11-11| 85330.95000000014|
|                      2016-12-09| 84563.74999999993|
|                      2016-12-07| 83296.74000000034|
|                      2016-12-16| 81553.82000000037|
+--------------------------------+------------------+
only showing top 20 rows

№13 Сколько было заказов в дату с наибольшим спросом?

In [93]:
df.groupBy(col('trip_start_timestamp').cast(DateType())).count().orderBy(desc('count')).show()

+----------------------------------+-----+
|CAST(trip_start_timestamp AS DATE)|count|
+----------------------------------+-----+
|                        2016-11-03|61259|
|                        2016-12-16|59137|
|                        2016-12-09|58583|
|                        2016-12-15|57084|
|                        2016-11-04|56800|
|                        2016-12-08|56786|
|                        2016-11-18|56382|
|                        2016-12-02|55914|
|                        2016-12-01|55298|
|                        2016-12-14|53096|
|                        2016-11-02|51677|
|                        2016-11-05|51341|
|                        2016-11-10|50970|
|                        2016-11-30|50904|
|                        2016-11-09|50894|
|                        2016-11-17|50849|
|                        2016-11-11|50148|
|                        2016-12-07|49653|
|                        2016-11-16|49653|
|                        2016-11-08|48566|
+----------------------------------+-----+
only showing top 20 rows

Подгрузите данные о марках машин из датасета <a href="https://github.com/AlexKbit/stepik-ds-course/raw/master/Week3/spark-tasks/taxi_cars_data.parquet">taxi_cars_data.parquet</a>

In [94]:
df_car = spark.read.parquet('taxi_cars_data.parquet')

In [95]:
df_car.show()

+-------+-------------------+
|taxi_id|          car_model|
+-------+-------------------+
|   1159|       Toyota Prius|
|   7273|Ford Crown Victoria|
|   2904|        Honda Civic|
|   3210|        Ford Fusion|
|   2088|       Toyota Camry|
|   4821|Ford Crown Victoria|
|   2069|    Hyundai Elantra|
|   6240|       Toyota Camry|
|    296|     Hyundai Sonata|
|   2136|Ford Crown Victoria|
|   1436|     Toyota Corolla|
|   1090|     Toyota Corolla|
|   7711|        Lincoln MKZ|
|   1572|Ford Crown Victoria|
|   3959|     Chevrolet Aveo|
|   5645|  Chevrolet Lacetti|
|   5149|            Audi A7|
|   6366|     Hyundai Sonata|
|    451|     Hyundai Accent|
|   1669|           Kia Ceed|
+-------+-------------------+
only showing top 20 rows

№14 Какая марка машины самая распрастранненая среди таксистов?
<br>Подробнее <a href="https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.functions.split">split</a>

In [23]:
from pyspark.sql.functions import split

In [100]:
df_car.groupBy(split(df_car['car_model'], " ")[0]).count().orderBy(desc('count')).show()

+----------------------+-----+
|split(car_model,  )[0]|count|
+----------------------+-----+
|                  Ford| 1484|
|               Hyundai|  792|
|                Toyota|  691|
|             Chevrolet|  473|
|                   Kia|  265|
|                  Audi|  250|
|               Lincoln|  247|
|                 Honda|  246|
|            Volkswagen|  244|
|                Nissan|  225|
+----------------------+-----+

№15 Сколько раз и какая модель машин чаще всего встречается в поездках?
<br>Подробнее <a href="https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.join">join</a>

In [104]:
df.join(df_car, 'taxi_id').groupBy('car_model').count().orderBy(desc('count')).show()

+-------------------+------+
|          car_model| count|
+-------------------+------+
|Ford Crown Victoria|388682|
|     Hyundai Accent|150764|
|           Kia Ceed|143649|
|     Hyundai Sonata|141570|
|        Ford Mondeo|135466|
|    Hyundai Elantra|134722|
|        Honda Civic|133848|
|            Audi A7|129168|
|  Chevrolet Lacetti|128803|
|     Toyota Corolla|125434|
|        Lincoln MKZ|124616|
|       Toyota Camry|123249|
|    Volkswagen Golf|118449|
|        Ford Taurus|116836|
|        Ford Fusion|113828|
|       Toyota Prius|113099|
|     Chevrolet Aveo|109326|
|      Nissan Altima|108038|
+-------------------+------+

Почувствуй силу сжатия! сохрани DataFrame в csv и сравни размеры файлов.

In [105]:
df.coalesce(1).write.csv('out_table.csv')

Теперь загрузите данные из csv и проверьте типы методом printSchema().

In [107]:
spark.read.csv('out_table.csv').printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)

Не забудьте посетить SparkUI и изучить историю ваших задач.

In [9]:
spark.stop()

''